.header {
  background-color: $background;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $padding ($padding * 2);

  section {
    align-items: center;
  }
}
