body {
  background: #fff;
  font: 400 13px "CoreSans", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $fontColor;
  letter-spacing: 0.02em;
  position: relative;
}

section {
  display: flex;
  flex-direction: row;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: $fontColor;
  text-decoration: none;

  &:hover {
    color: $textLink;
    text-decoration: underline;
  }

  &:active {
    color: $textLinkActive;
  }

  &:visited {
    color: $textLinkVisited;
  }
}
