$padding: 20px;

$fontColor: #a0a0a0;
$searchFontSize: 14px;

$menuSize: 14px;

$bigIcon: 20px;
$mediumIcon: 16px;

$mainColor: #61b25a;
$hyperlinkHover: rgba(255, 255, 255, 0.8);
$hyperlinkActive: rgba(255, 255, 255, 0.4);
$hyperlinkVisited: rgba(200, 200, 200, 0.4);

$nav: #141414;
$background: #1c1c1c;
$backgroundSecondary: #262626;
$backgroundSecondaryHover: rgba(89, 89, 89, 1);

$border: 1px solid #3a3a3a;
$darkBorder: 1px solid #3a3a3a;

$textColor: #a0a0a0;
